<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>宅圈-创造兴趣的价值 | ACGO.club</title>
    <link href="/css/default/theme.min.css" rel="stylesheet">
    <link href="/css/plugin/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="page" id="page"></div>
    <script>
        const electron=window && window.process && window.process.type?require('electron'):{};
        let client_type='PC';
        let menu_cates=<%- JSON.stringify(menus)%>
    </script>
    <script src="/javascripts/__build__/app.min.js"></script>
</body>
</html>